// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.div-margin {
  margin-top: 50px;
}

.task-completed {
  color: #b0b0b0;

  a {
    color: #b0b0b0
  }
}
